<% provide(:title, "ABOUT")%>
    <h1>「Cafe Review!」について</h1>
    <p>
        「Cafe Review!」はコーヒー好きなあの人がオススメしているカフェが知りたい！
        そのカフェ気になってたけど、行くのにちょっとためらいがある。
        そんな人の助けになれば良いなと思い作成しました。
        このサービスがあなたにとって居心地のいい空間を見つける手助けになりますように。
        しんぺい。 
    </p>