<div class="center jumbotron">
  <h1>Cafe Review!</h1>

  <h2>
    コーヒーが大好きな人へ送るカフェレビューサイト。
  </h2>

  <%= link_to "登録はこちらから！", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("coffee.png", alt: "Coffee time") %>