<footer class="footer">
  <small>
    Cafe Review! by <a href="http://shimblog.net">SHIMBLOG</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Cafe Review！について",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><a href="http://shimblog.net">サイト制作者のブログ</a></li>
    </ul>
  </nav>
</footer>