<header class="navbar navbar-fixed-top navbar-inverse">
      <div vlass="container">
        <%= link_to "Cafe Review", root_path, id:"logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to "ホーム",   root_path %></li>
            <li><%= link_to "サイトについて",   about_path %></li>
            <li><%= link_to "ショップ検索", serch_path %></li>

          </ul>

        </nav>
      </div>
    </header>